1.时间序列生成

In [82]:
import pandas as pd
import numpy as np
from datetime import datetime

(1)	生成今天的时间戳

In [14]:
t1 = pd.datetime.now() 
pd.to_datetime(t1)

C:\Users\gao\AppData\Local\Temp/ipykernel_9460/821050724.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  t1 = pd.datetime.now()

Timestamp('2022-07-03 16:38:05.767461')

(2)	生成2016年7月1日开始，长度为10的时间索引序列，时间间隔为3天。

In [4]:
pd.date_range(start='2016/7/1',freq='3D',periods=10)

DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-07', '2016-07-10',
               '2016-07-13', '2016-07-16', '2016-07-19', '2016-07-22',
               '2016-07-25', '2016-07-28'],
              dtype='datetime64[ns]', freq='3D')

(3)	生成从2021年5月25日开始，间隔为12小时，长度为10的时间索引序列。

In [5]:
pd.date_range(start='2021/5/25',periods=10,freq='12H')

DatetimeIndex(['2021-05-25 00:00:00', '2021-05-25 12:00:00',
               '2021-05-26 00:00:00', '2021-05-26 12:00:00',
               '2021-05-27 00:00:00', '2021-05-27 12:00:00',
               '2021-05-28 00:00:00', '2021-05-28 12:00:00',
               '2021-05-29 00:00:00', '2021-05-29 12:00:00'],
              dtype='datetime64[ns]', freq='12H')

(4)	生成2021年6月的时期对象

In [19]:
pd.Period('2021/6')

Period('2021-06', 'M')

(5)	生成2021年1月到6月的时期索引序列

In [22]:
pd.date_range(start='2021/1/1',end='2021/6/30',freq='1D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', length=181, freq='D')

2.apple数据分析

(1)	导入实验数据‘apple.csv’

In [16]:
file = open(r'E:\python数据分析\实训任务数据\项目六 时间序列数据分析练习\apple.csv')
data = pd.read_csv(file)
data

            Date   Open   High    Low  Close     Volume  Adj Close
0       2014/7/8  96.27  96.80  93.92  95.35   65130000      95.35
1       2014/7/7  94.14  95.99  94.10  95.97   56305400      95.97
2       2014/7/3  93.67  94.10  93.20  94.03   22891800      94.03
3       2014/7/2  93.87  94.06  93.09  93.48   28420900      93.48
4       2014/7/1  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980/12/18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980/12/17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980/12/16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980/12/15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980/12/12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

(2)	查看每一列的数据类型

In [61]:
cols = data.columns
print(cols)
for col in cols:
    print(col+' : '+str(type(data[col][0])))

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')
Date : <class 'str'>
Open : <class 'numpy.float64'>
High : <class 'numpy.float64'>
Low : <class 'numpy.float64'>
Close : <class 'numpy.float64'>
Volume : <class 'numpy.int64'>
Adj Close : <class 'numpy.float64'>

(3)	将Date列转化为datetime数据类型

In [35]:
pd.to_datetime(data['Date'])

0      2014-07-08
1      2014-07-07
2      2014-07-03
3      2014-07-02
4      2014-07-01
          ...
8460   1980-12-18
8461   1980-12-17
8462   1980-12-16
8463   1980-12-15
8464   1980-12-12
Name: Date, Length: 8465, dtype: datetime64[ns]

(4)	将Date列设置为行索引

In [39]:
data.set_index('Date')

             Open   High    Low  Close     Volume  Adj Close
Date
2014/7/8    96.27  96.80  93.92  95.35   65130000      95.35
2014/7/7    94.14  95.99  94.10  95.97   56305400      95.97
2014/7/3    93.67  94.10  93.20  94.03   22891800      94.03
2014/7/2    93.87  94.06  93.09  93.48   28420900      93.48
2014/7/1    93.52  94.07  93.13  93.52   38170200      93.52
...           ...    ...    ...    ...        ...        ...
1980/12/18  26.63  26.75  26.63  26.63   18362400       0.41
1980/12/17  25.87  26.00  25.87  25.87   21610400       0.40
1980/12/16  25.37  25.37  25.25  25.25   26432000       0.39
1980/12/15  27.38  27.38  27.25  27.25   43971200       0.42
1980/12/12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 6 columns]

(5)	有重复的日期吗？

In [40]:
data['Date'].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8460    False
8461    False
8462    False
8463    False
8464    False
Name: Date, Length: 8465, dtype: bool

(6)	将index设置为升序

In [41]:
data.sort_index()

            Date   Open   High    Low  Close     Volume  Adj Close
0       2014/7/8  96.27  96.80  93.92  95.35   65130000      95.35
1       2014/7/7  94.14  95.99  94.10  95.97   56305400      95.97
2       2014/7/3  93.67  94.10  93.20  94.03   22891800      94.03
3       2014/7/2  93.87  94.06  93.09  93.48   28420900      93.48
4       2014/7/1  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980/12/18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980/12/17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980/12/16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980/12/15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980/12/12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

(7)	选择2012的数据

In [70]:
data_list = data
data_index = pd.to_datetime(data_list)
data_se = pd.Series(np.arange(8465),index = data_index)
data_se['2012']

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

(8)	选择2012-07数据

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')
Date : <class 'str'>
Open : <class 'numpy.float64'>
High : <class 'numpy.float64'>
Low : <class 'numpy.float64'>
Close : <class 'numpy.float64'>
Volume : <class 'numpy.int64'>
Adj Close : <class 'numpy.float64'>

探索1960 - 2014 美国犯罪数据

In [72]:
file = open(r'E:\python数据分析\实训任务数据\项目六 时间序列数据分析练习\US_Crime_Rates_1960_2014.csv')

(1)	将数据框命名为crime

In [73]:
crime = pd.read_csv(file)
crime

,Unnamed: 0,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
10,10,1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
11,11,1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
12,12,1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
13,13,1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
14,14,1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
15,15,1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
16,16,1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
17,17,1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
18,18,1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
19,19,1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
20,20,1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
21,21,1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
22,22,1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
23,23,1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
24,24,1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
25,25,1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
26,26,1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
27,27,1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
28,28,1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
29,29,1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
30,30,1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
31,31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
32,32,1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
33,33,1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
34,34,1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
35,35,1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
36,36,1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
37,37,1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
38,38,1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
39,39,1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
40,40,2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
41,41,2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
42,42,2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
43,43,2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
44,44,2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
45,45,2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
46,46,2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
47,47,2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
48,48,2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
49,49,2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
50,50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
51,51,2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

(2)	每一列(column)的数据类型是什么样的？

In [74]:
cols = crime.columns
print(cols)
for col in cols:
    print(col+' : '+str(type(crime[col][0])))

Index(['Unnamed: 0', 'Year', 'Population', 'Total', 'Violent', 'Property',
       'Murder', 'Forcible_Rape', 'Robbery', 'Aggravated_assault', 'Burglary',
       'Larceny_Theft', 'Vehicle_Theft'],
      dtype='object')
Unnamed: 0 : <class 'numpy.int64'>
Year : <class 'numpy.int64'>
Population : <class 'numpy.int64'>
Total : <class 'numpy.int64'>
Violent : <class 'numpy.int64'>
Property : <class 'numpy.int64'>
Murder : <class 'numpy.int64'>
Forcible_Rape : <class 'numpy.int64'>
Robbery : <class 'numpy.int64'>
Aggravated_assault : <class 'numpy.int64'>
Burglary : <class 'numpy.int64'>
Larceny_Theft : <class 'numpy.int64'>
Vehicle_Theft : <class 'numpy.int64'>

(3)	将Year的数据类型转换为 datetime64

In [89]:
pd.to_datetime(crime['Year'])

0    1970-01-01 00:00:00.000001960
1    1970-01-01 00:00:00.000001961
2    1970-01-01 00:00:00.000001962
3    1970-01-01 00:00:00.000001963
4    1970-01-01 00:00:00.000001964
5    1970-01-01 00:00:00.000001965
6    1970-01-01 00:00:00.000001966
7    1970-01-01 00:00:00.000001967
8    1970-01-01 00:00:00.000001968
9    1970-01-01 00:00:00.000001969
10   1970-01-01 00:00:00.000001970
11   1970-01-01 00:00:00.000001971
12   1970-01-01 00:00:00.000001972
13   1970-01-01 00:00:00.000001973
14   1970-01-01 00:00:00.000001974
15   1970-01-01 00:00:00.000001975
16   1970-01-01 00:00:00.000001976
17   1970-01-01 00:00:00.000001977
18   1970-01-01 00:00:00.000001978
19   1970-01-01 00:00:00.000001979
20   1970-01-01 00:00:00.000001980
21   1970-01-01 00:00:00.000001981
22   1970-01-01 00:00:00.000001982
23   1970-01-01 00:00:00.000001983
24   1970-01-01 00:00:00.000001984
25   1970-01-01 00:00:00.000001985
26   1970-01-01 00:00:00.000001986
27   1970-01-01 00:00:00.000001987
28   1970-01-01 00:00:00.000001988
29   1970-01-01 00:00:00.000001989
30   1970-01-01 00:00:00.000001990
31   1970-01-01 00:00:00.000001991
32   1970-01-01 00:00:00.000001992
33   1970-01-01 00:00:00.000001993
34   1970-01-01 00:00:00.000001994
35   1970-01-01 00:00:00.000001995
36   1970-01-01 00:00:00.000001996
37   1970-01-01 00:00:00.000001997
38   1970-01-01 00:00:00.000001998
39   1970-01-01 00:00:00.000001999
40   1970-01-01 00:00:00.000002000
41   1970-01-01 00:00:00.000002001
42   1970-01-01 00:00:00.000002002
43   1970-01-01 00:00:00.000002003
44   1970-01-01 00:00:00.000002004
45   1970-01-01 00:00:00.000002005
46   1970-01-01 00:00:00.000002006
47   1970-01-01 00:00:00.000002007
48   1970-01-01 00:00:00.000002008
49   1970-01-01 00:00:00.000002009
50   1970-01-01 00:00:00.000002010
51   1970-01-01 00:00:00.000002011
52   1970-01-01 00:00:00.000002012
53   1970-01-01 00:00:00.000002013
54   1970-01-01 00:00:00.000002014
Name: Year, dtype: datetime64[ns]

(4)	将列Year设置为数据框的索引

In [96]:
crime = crime.set_index('Year',drop=True)
crime

,Unnamed: 0,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,0,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,1,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,2,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,3,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,4,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965,5,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966,6,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967,7,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968,8,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969,9,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970,10,203235298,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971,11,206212000,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972,12,208230000,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973,13,209851000,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974,14,211392000,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975,15,213124000,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976,16,214659000,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977,17,216332000,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978,18,218059000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979,19,220099000,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980,20,225349264,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981,21,229146000,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982,22,231534000,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983,23,233981000,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984,24,236158000,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985,25,238740000,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986,26,240132887,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987,27,242282918,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988,28,245807000,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989,29,248239000,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990,30,248709873,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991,31,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992,32,255082000,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993,33,257908000,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994,34,260341000,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995,35,262755000,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996,36,265228572,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997,37,267637000,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998,38,270296000,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999,39,272690813,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000,40,281421906,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001,41,285317559,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002,42,287973924,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003,43,290690788,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004,44,293656842,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005,45,296507061,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006,46,299398484,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007,47,301621157,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008,48,304374846,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009,49,307006550,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010,50,309330219,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011,51,311587816,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012,52,313873685,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013,53,316497531,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014,54,318857056,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

(5)	删除名为Total的列

In [103]:
del crime['Total']

KeyError: 'Total'

(6)	按照Year（每十年）对数据框进行分组并求和

In [104]:
c_num = crime.resample('10AS').sum()
c_num

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

(7)	何时是美国历史上生存最危险的年代？

In [92]:
crime.idxmax(0)

Unnamed: 0            54
Year                  54
Population            54
Violent               32
Property              31
Murder                31
Forcible_Rape         32
Robbery               31
Aggravated_assault    33
Burglary              20
Larceny_Theft         31
Vehicle_Theft         31
dtype: int64